.top-box {
	background-color: #FFB4B0;
	height: 30px;
	border:  1px solid black;
	margin: 25px 15px 30px 75px;
	font-family: "Arial";
	cursor: pointer;
}

.top-box > li {
	list-style-type: none;
	margin: 5px 5px 5px 5px;
	float: left;
}

.top-box > li:last {
	border-right: none;
}

.left-box {
	background-color: #4DD7FA;
	border: 1px solid black;
	float: left;
	margin: 25px 35px 30px 75px;
	font-family: "Arial";
}

.left-box > li {
	
}

.right-box {
	background-color: #FEFAC0;
}